@font-face {
   font-family: 'Starzone-SVG';
   font-display: swap;
   src: url('file:///C:/Users/Ramjie/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-05-18_000732/fonts/Starzone-SVG/font.ttf');
}
